@font-face {
    font-family: blocked;
    src: url(fonts/blocked/blocked.ttf);
}
@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto/Roboto-Black.ttf);
}

@font-face{
    font-family: Roboto-Bold;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}
@font-face{
    font-family: Roboto-Regular;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: NexaHeavy;
    src: url(fonts/nexa/Nexa-Heavy.ttf);
}
@font-face {
    font-family: NexaLight;
    src: url(fonts/nexa/Nexa-ExtraLight.ttf);
}


body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;  
}

.heading{
    color: white;
    text-align: center;
    font-family: Roboto-Bold;
    font-weight: lighter;
    font-size: xxx-large;
}

.text{
    color: white;
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 25px;
}

.button{
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: NexaLight;
    display: block;
    position: absolute;
}

.buttonNexa{
    font-family: NexaLight;
    color: white;
    font-weight: 100;
    position: absolute;
}

.homePageText{
    text-decoration: none;
    color: white;
    font-size: 4.5rem;
    font-family: NexaHeavy;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 120px;
    margin-top: 130px;
    /* margin-left: 120px; */
    line-height: 0;
}

.backButton{
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: NexaHeavy;
    display: block;
    position: absolute;
}

.backButton:hover{
    text-decoration: underline;
    color: white;
    font-size: 2em;
    font-family: NexaHeavy;
    display: block;
    position: absolute;
    
}

.homePageText:hover{
    text-decoration: underline;
}

.socialImages{
    width: 200px;
    /* height: 200px; */
    /* margin-left: 190px;
    margin-top: 200px; */
    display: flex;
    
    
}

.socials {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15%;
  
  /* padding: 0 5%; */
}

.socials-link {
    display: flex;
    justify-content: space-between;
    margin: 10px; /* Added margin property */
  }

.home{
    display: flex;
    /* width: 80%; */
    justify-content: space-evenly;
}

.home-links{
    width: 60%;
    margin-right: 200px;
}

.home-image img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    

    /* margin-top: 135px; */
}

.rotate {
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.home-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection{
    color: rgb(255, 0, 85);
}

@media (max-width:430px) {
    .home{
        flex-direction: column;
        
        
    }
    .home-links{

        margin-right: 0px;
        margin-left: 5px;
        width: 300px;
    }
    .homePageText{
        font-size: 3rem;
        margin-bottom: 5px;
        margin-top: 30px;
        line-height: 1;
        text-align: center; 
    }
    .home-image img{
        margin-top: 25px;
        width: 230px;
        height: 230px;
        
    }
    

    



}

