@import "tailwindcss";

@font-face {
  font-family: GeistMono;
  src: url('/font/GeistMono.ttf');
}

/* styles/globals.css */
ul {
  list-style-type: disc;
  /* Changes bullet to a square */
  padding-left: 20px;
  /* Adds padding for better readability */
}



li {
  margin-bottom: 5px;
  /* Adds space between list items */
}

.home-page {
  background-image: url('/background.jpg');

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;
}

@theme {
  --breakpoint-sm: 300px;
  --breakpoint-md: 500px;
  --breakpoint-lg: 880px;
}
